p{
  color: grey;
  font-family: Comic Sans MS;
  width: 300px;
  height: 100px;
  border-style: groove;
  border-color: orange;
}
h1{
  color: white;
  font-family: Comic Sans MS;
}
body{
  background-image: url(http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg);
  margin-left: auto;
  margin-right: auto;
}
#header {
	height: 50px;
	background-color: #F38630;
	margin-bottom: 10px;
}
